In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*7

14

In [4]:
3/2

1.5

In [5]:
7/4

1.75

In [6]:
7%4

3

In [7]:
50%5

0

In [8]:
23 % 2

1

In [9]:
28%5

3

In [10]:
190 % 4

2

In [11]:
2 ** 3

8

In [12]:
2 + 10 * 10 + 3

105

In [13]:
(2+10)*(10+3)

156

In [14]:
a = 5

In [15]:
a

5

In [16]:
a = 10

In [17]:
a

10

In [18]:
a+a

20

In [19]:
a = a+a

In [20]:
a

20

In [21]:
a

20

In [22]:
a

20

In [23]:
a = a+a

In [24]:
a

40

In [25]:
a

40

In [26]:
a = a+a

In [27]:
a

80

In [28]:
type(a)

int

In [29]:
a = 30.1

In [30]:
type(a)

float

In [31]:
int = 4

In [4]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [5]:
my_taxes

10.0

In [6]:
'hello'

'hello'

In [7]:
"world"

'world'

In [8]:
'this is also a string'

'this is also a string'

In [9]:
"I'm going on a run"

"I'm going on a run"

In [10]:
print("hello")

hello

In [11]:
"hello world one"

'hello world one'

In [12]:
"hello world one"
"hello world two"

'hello world two'

In [13]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [14]:
print('hello \n world')

hello
 world

In [15]:
print ('hello \nworld')

hello
world

In [16]:
print('hello \t world')

hello 	 world

In [17]:
len("hello")

5

In [18]:
len("I am")

4

In [19]:
len("i am hungry")

11

In [2]:
mystring = "Hello World"

In [3]:
mystring

'Hello World'

In [4]:
mystring[0]

'H'

In [5]:
mystring[8]

'r'

In [6]:
mystring[9]

'l'

In [7]:
mystring

'Hello World'

In [8]:
mystring[-3]

'r'

In [9]:
mystring = 'abcdefghijk'

In [10]:
mystring

'abcdefghijk'

In [11]:
mystring[2]

'c'

In [12]:
mystring[2:]

'cdefghijk'

In [13]:
mystring[:]

'abcdefghijk'

In [14]:
mystring[:3]

'abc'

In [15]:
mystring[3:6]

'def'

In [16]:
mystring[1:3]

'bc'

In [17]:
mystring

'abcdefghijk'

In [18]:
mystring[::]

'abcdefghijk'

In [19]:
mystring[::2]

'acegik'

In [20]:
mystring[::3]

'adgj'

In [21]:
mystring[2:7:2]

'ceg'

In [22]:
mystring[::-1]

'kjihgfedcba'

In [23]:
print('fat /n bunny')

fat /n bunny

In [24]:
print('fat \n bunny')

fat
 bunny

In [25]:
print('chubby\nbunny')

chubby
bunny

In [26]:
print('fat\tcat')

fat	cat

In [27]:
name = "Sam"

In [28]:
#name[0] = 'P'

In [34]:
last_letters = name[1:]

In [35]:
last_letters

'am'

In [37]:
'P' + last_letters

'Pam'

In [38]:
x = 'Hello World'

In [39]:
x + " it is beautiful outside!"

'Hello World it is beautiful outside!'

In [42]:
x = x + "it is beautiful outside!"

In [44]:
x

'Hello Worldit is beautifu outside!it is beautiful outside!'

In [45]:
letter = 'z'

In [46]:
letter * 10

'zzzzzzzzzz'

In [47]:
2+3

5

In [48]:
'2'+ '3'

'23'

In [49]:
2+3

5

In [50]:
x = 'Hello World'

In [53]:
x.upper()

'HELLO WORLD'

In [54]:
x

'Hello World'

In [55]:
x.lower()

'hello world'

In [56]:
x.split()

['Hello', 'World']

In [57]:
x = 'Hi this is a string'

In [58]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [59]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [60]:
print('hello')

hello

In [61]:
'Chloe'[1:]

'hloe'

In [62]:
'Pammy'[:1]

'P'

In [63]:
print('This is a string{}'.format('INSERTED'))

This is a stringINSERTED

In [64]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [72]:
print('The {2} {1} {0}'.format('fox','brown', 'quick'))

The quick brown fox

In [73]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [74]:
result = 100/777

In [75]:
result

0.1287001287001287

In [95]:
print("The result was {r:1.2f}".format(r=result))

The result was 0.13

In [79]:
result.real

0.1287001287001287

In [82]:
x=3.2

In [83]:
x.hex()

'0x1.999999999999ap+1'

In [96]:
name = "Jose"

In [97]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [98]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [99]:
name = "Sam"

In [100]:
age=3

In [102]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [108]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apple','2'))
print('{0:8} | {1:9}'.format('Orange','5'))
print('{0:8} | {1:9}'.format('Lime','3'))

Fruit    | Quantity
Apple    | 2
Orange   | 5
Lime     | 3

In [114]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left', 'Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center  |    Right
11       |    22    |       33

In [117]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -Center- | ...Right
11====== | ---22--- | ......33

In [126]:
print('This is my ten-character, two-decimal number: {2:10.1f}'.format(13.992341, 16.9999, 2.90321))

This is my ten-character, two-decimal number:        2.9

In [127]:
name = 'Kitty Kat'

In [131]:
print(f"He said his name is {name}.")

He said his name is Kitty Kat.

In [132]:
print(f"He said his name is {name!r}")

He said his name is 'Kitty Kat'

In [138]:
num = 27.1346123
print("My 10 character, 4 decimal number is: {0:10.4f}".format(num))
print (f"My 10 character, 4 decimal number is: {num:10.4f}")

My 10 character, 4 decimal number is:    27.1346
My 10 character, 4 decimal number is:    27.1346

In [139]:
my_list = [1,2,3]

In [140]:
my_list = ['STRING', 100, 23.2]

In [141]:
len(my_list)

3

In [142]:
mylist = ['one','two', 'three']

In [143]:
mylist[0]

'one'

In [144]:
mylist[1:]

['two', 'three']

In [145]:
mylist

['one', 'two', 'three']

In [146]:
another_list = ['four','five']

In [147]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [148]:
new_list = mylist + another_list

In [150]:
new_list

['one', 'two', 'three', 'four', 'five']

In [151]:
new_list

['one', 'two', 'three', 'four', 'five']

In [152]:
new_list[0] = 'ONE ALL CAPS'

In [153]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [154]:
new_list.append('six')

In [155]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [156]:
new_list.append('seven')

In [157]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [158]:
new_list.pop()

'seven'

In [159]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [160]:
popped_item = new_list.pop()

In [161]:
popped_item

'six'

In [162]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [163]:
new_list.pop(0)

'ONE ALL CAPS'

In [164]:
new_list

['two', 'three', 'four', 'five']

In [166]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [167]:
new_list.sort()

In [168]:
new_list

['a', 'b', 'c', 'e', 'x']

In [169]:
new_list.sort()
my_sorted_list = new_list

In [170]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [171]:
num_list

[4, 1, 8, 3]

In [172]:
num_list.sort()

In [173]:
num_list

[1, 3, 4, 8]

In [174]:
num_list.reverse()

In [175]:
num_list

[8, 4, 3, 1]

In [176]:
list_1 = [[1,2], [3,4], [5,6]]

In [177]:
list_1

[[1, 2], [3, 4], [5, 6]]

In [178]:
list_1[0]

[1, 2]

In [179]:
list_1[0][1]

2

In [180]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [181]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [182]:
my_dict['key1']

'value1'

In [184]:
prices_lookup={'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [185]:
prices_lookup['apple']

2.99

In [186]:
prices_lookup['milk']

5.8

In [188]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey': 100}}

In [189]:
d['k1']

123

In [190]:
d['k2']

[0, 1, 2]

In [191]:
d['k2'][2]

2

In [192]:
d['k3']['insideKey']

100

In [193]:
d= {'key1':['a','b','c']}

In [194]:
mylist = d['key1']

In [195]:
letter = mylist[2]

In [196]:
letter

'c'

In [197]:
letter.upper()

'C'

In [198]:
d['key1'][2]

'c'

In [199]:
d['key1'][2].upper()

'C'

In [200]:
d = {'k1': 100, 'k2': 200}

In [201]:
d

{'k1': 100, 'k2': 200}

In [202]:
d['k3']= 300

In [203]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [204]:
d['k1'] = 'NEW VALUE'

In [205]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [206]:
d = {'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [207]:
d.values()

dict_values(['NEW VALUE', 200, 300])

In [208]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [209]:
d.items()

dict_items([('k1', 'NEW VALUE'), ('k2', 200), ('k3', 300)])

In [210]:
t = (1,2,3)

In [211]:
mylist = [1,2,3]

In [212]:
type(t)

tuple

In [213]:
type(mylist)

list

In [215]:
len(t)

3

In [216]:
t = ('one',2)

In [217]:
t[0]

'one'

In [218]:
t[-1]

2

In [224]:
t = ('a','a','b','a','b','c')

In [225]:
t.count('a')

3

In [226]:
t.index('a')

0

In [227]:
t.index('b')

2

In [228]:
t

('a', 'a', 'b', 'a', 'b', 'c')

In [229]:
mylist

[1, 2, 3]

In [230]:
mylist[0]='NEW'

In [231]:
mylist

['NEW', 2, 3]

In [232]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [233]:
myset = set()

In [234]:
myset

set()

In [235]:
myset.add(1)

In [236]:
myset

{1}

In [237]:
myset.add(2)

In [238]:
myset

{1, 2}

In [239]:
myset.add(2)

In [240]:
myset

{1, 2}

In [241]:
mylist = [1,1,1,1,1,1,2,2,2,2,3,3,3,3,3]

In [242]:
set(mylist)

{1, 2, 3}

In [243]:
mylist = [22,63,1, 78, 199]

In [244]:
set(mylist)

{1, 22, 63, 78, 199}

In [245]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [246]:
True

True

In [247]:
False

False

In [248]:
type(False)

bool

In [249]:
type(set)

type

In [250]:
type('Mississippi')

str

In [251]:
1>2

False

In [252]:
1 == 2

False

In [253]:
1 == 1

True

In [254]:
b = None

In [255]:
b