In [4]:
if True:
    print('It is True!')

It is True!

In [9]:
hungry = True

if hungry: 
    print('FEED ME ICE CREAM!')
else: print("I'm not hungry")

FEED ME ICE CREAM!

In [14]:
loc = 'Store'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I don't know much")

Welcome to the store!

In [17]:
name = 'Frankie'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == "Sammy":
    print("Hello Sammy!")
else:
    print("What is your name?")

Hello Frankie!

In [18]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [19]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [22]:
for jelly in mylist:
    print (jelly)

1
2
3
4
5
6
7
8
9
10

In [23]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [24]:
for num in mylist:
    print(f'{num} hello')

1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello
10 hello

In [26]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number:{num}')

Odd Number:1
2
Odd Number:3
4
Odd Number:5
6
Odd Number:7
8
Odd Number:9
10

In [27]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [28]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [32]:
mystring = 'BIG BOOTY'

for _ in mystring:
    print('BIG BOOTY')

BIG BOOTY
BIG BOOTY
BIG BOOTY
BIG BOOTY
BIG BOOTY
BIG BOOTY
BIG BOOTY
BIG BOOTY
BIG BOOTY

In [33]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [34]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [35]:
len(mylist)

4

In [37]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [39]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [40]:
mylist = [(1,2,3),(5,6,7), (8,9,10)]

In [42]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [43]:
for a,b,c in mylist:
    print(b)

2
6
9

In [47]:
d = {'k1':1, 'k2': 2, 'k3': 3}

for value in d.values():
    print(value)

1
2
3

In [50]:
mylist = [1,2,3,4]
x = True

if x:
    print(mylist[2])

3

In [58]:
x=5

while x<=15:
    print(f'The current value of x is {x}')
    x+=3
else:
    print("X IS NOT LESS THAN 15")

The current value of x is 5
The current value of x is 8
The current value of x is 11
The current value of x is 14
X IS NOT LESS THAN 15

In [63]:
x=[1,2,3]

for item in x:
    #comment
    pass

print('end of my script')

end of my script

In [75]:
mystring = 'Sammy Garcia'

In [77]:
for letter in mystring:
    if letter == 'c':
        break
    print(letter)

S
a
m
m
y

G
a
r

In [81]:
x=0

while x<15:
    if x==12:
        break
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9
10
11

In [82]:
mylist = [1,2,3]

In [85]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [86]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

index_count = 0

for letter in 'abcde':
    print('At index{} the letter is{}'.format(index_count, letter))
    index_count += 1

In [88]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [90]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [94]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [105]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [106]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [107]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [108]:
'x' in [1,2,3]

False

In [109]:
'x' in ['x', 'y','z']

True

In [110]:
2 in [1,2,3]

True

In [111]:
'a' in 'a wirkd'

True

In [112]:
'mykey' in {'mykey': 345}

True

In [116]:
d = {'mykey': 345}

345 in d.values()

True

In [117]:
mylist = [10,20,30,40,100]

In [118]:
min(mylist)

10

In [119]:
max(mylist)

100

In [120]:
from random import shuffle

In [121]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [122]:
shuffle(mylist)

In [123]:
mylist

[5, 4, 9, 7, 1, 8, 10, 6, 2, 3]

In [124]:
shuffle(mylist)

In [125]:
mylist

[2, 7, 1, 9, 6, 5, 4, 8, 10, 3]

In [126]:
random_list=shuffle(mylist)

In [127]:
type(random_list)

NoneType

In [128]:
mylist

[6, 1, 3, 4, 8, 2, 7, 10, 9, 5]

In [129]:
from random import randint

In [130]:
randint(0,100)

58

In [131]:
randint(0,100)

9

In [132]:
randint(0,255)

81

In [133]:
mynum = randint(0,255)

In [134]:
mynum

139

In [136]:
result = input('Enter a number here: ')

Enter a number here: 20

result

In [137]:
result

'20'

In [138]:
result = input('Favorite Number: ')

Favorite Number: 30

In [139]:
type(result)

str

In [140]:
float(result)

30.0

In [141]:
int(result)

30