# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [22]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        if a < b:
            return a
        else:
            return b
    else:
        if a < b:
            return b
        else:
            return a

In [266]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
       result = min(a,b)
    else:
       result = max(a,b)
    return result

In [267]:
min(10,20)

10

In [268]:
# Check
lesser_of_two_evens(2,4)

2

In [269]:
# Check
lesser_of_two_evens(2,5)

5

In [270]:
# Check
lesser_of_two_evens(8,14)

8

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [50]:
def animal_crackers(text):
    return text.lower().split()[0][0] == text.lower().split()[1][0]

In [27]:
'twx hsd'.split()

['twx h', 'd']

In [48]:
'Levelheaded Lama'.split()[0][0]

'L'

In [44]:
'Levelheaded Lama'.split()[1][0]

'L'

In [53]:
# Check
animal_crackers('levelheaded Llama')

True

In [52]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [64]:
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or n1+n2 == 20

In [65]:
# Check
makes_twenty(2,10)

False

In [66]:
# Check
makes_twenty(2,20)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [129]:
def old_macdonald(name):
    #return name[0], name[3]
    return name[0].upper() + name[1:3] + name[3].upper() + name[4:]

In [271]:
def old_macdonald_2(name):
    
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [130]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [272]:
# Check
old_macdonald_2('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [278]:
def master_yoda(text):
   return " ".join(text.split()[::-1])

In [279]:
def master_yoda_2(text):
    wordList = text.split()
    reverse_word_list = wordList[::-1]
    return ' '.join(reverse_word_list)

In [280]:
# Check
master_yoda('I am home')

'home am I'

In [281]:
# Check
master_yoda('We are ready now')

'now ready are We'

In [282]:
# Check
master_yoda_2('We are ready now')

'now ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [234]:
def almost_there(n):
    if abs(100 - n) <= 10:
        return True
    elif abs(200-n)<=10:
        return True
    else:
        return False

In [283]:
def almost_there_2(n):
    return (abs(100 - n)) <= 10 or (abs(200-n)<=10)

In [235]:
# Check
almost_there(104)

True

In [236]:
# Check
almost_there(150)

False

In [237]:
# Check
almost_there(209)

True

In [284]:
# Check
almost_there_2(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [265]:
def has_33(nums):
    for i in range(1,len(nums)):
        if nums[i] == 3 and nums[i-1] == 3:
            return True
    return False

In [287]:
def has_33_2(nums):
    for i in range(1,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [266]:
# Check
has_33([1, 3, 3])

True

In [267]:
# Check
has_33([1, 3, 1, 3])

False

In [275]:
# Check
has_33([1, 3, 3, 1])

True

In [288]:
# Check
has_33_2([1, 3, 3, 1])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [499]:
def paper_doll(text):
    seq = ""
    for i in range(0, len(text)):
         seq += text[i]*3
    return seq

    #return(text[i:])*3

In [289]:
def paper_doll_2(text):
    seq = ""
    for char in text: 
         seq += char *3
    return seq

    #return(text[i:])*3

In [500]:
bello = list("bello!")

In [501]:
bello

['b', 'e', 'l', 'l', 'o', '!']

In [502]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [503]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [1]:
def blackjack(a,b,c):
    total = a + b + c
    if total <= 21:
        return total
    elif (a == 11 or b == 11 or c== 11) and total <= 21+10:
        return total-10
    else:
        return 'BUST'

In [ ]:
def blackjack_2(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum ([a,b,c]) <=31:
        return sum([a,b,c]) - 10
    else:
        return 'BUST'

In [2]:
# Check
blackjack(5,6,7)

18

In [3]:
# Check
blackjack(9,11,10)

20

In [4]:
# Check
blackjack(11,11,11)

'BUST'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [1]:
import math 

def summer_69(arr):
    newArray = tuple(arr)
    
    if 6 and 9 in newArray:
        if arr.index(6)< arr.index(9):
            loc_6 = arr.index(6)
            loc_9 = arr.index(9)
            i = loc_6
            while loc_6 <= i <= loc_9:
                arr[i] = 0
                i+=1
            return sum(tuple(arr))
        else: 
            return sum(tuple(arr))
    else:
        return sum(tuple(arr))
        
    
    #total = sum(tuple(arr))
    #return total

In [291]:
def summer_69_v2(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num!=6:
                total += num
                break
            else: 
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [2]:
# Check
summer_69([1, 3, 5])

9

In [3]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [4]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [245]:
def spy_game(nums):
   for i in nums:
        if nums.index(0) < nums.index(7) and nums.count(0)>= 2:
            spl = nums[nums.index(0): nums.index(7)+1]
            print(spl)
            if spl.count(0) == 2:
                return True
            else:
                return False
        else: 
            return False

In [ ]:
def spy_game_v2(nums):
    
    code = [0,0,7,'x']
    #[0,7,'x']
    #[7,'x']
    #['x'] length = 1
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
            
    return len(code) == 1

In [246]:
# Check
spy_game([1,2,4,0,0,7,5])

[0, 0, 7]

True

In [247]:
# Check
spy_game([1,0,2,1,7,0,0,5])

[0, 2, 1, 7]

False

In [248]:
# Check
spy_game([1,0,2,4,1,5,7])

False

In [249]:
# Check
spy_game([0,0,1,7,2,0,4,5,0])

[0, 0, 1, 7]

True

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [295]:
def count_primes(num):
    
    # Check for 0 or 1 input
    if num < 2:
        return 0
    
    # 2 or greater
    
    #store our prime numbers
    primes = [2]
    #counter going up to the input num
    x = 3 
    
    #x is going through every number up to input num
    while x <= num:
        #check if x is prime
        for y in range(3,x,2):
            if x % y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    
    print(primes)
    return len(primes)

In [296]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [298]:
count_primes(200)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

46

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [141]:
def test_big(letter):
    my_dict = {'a' :"   *   ", 'b':"  * *  ", 'c':" *****", 'd': " *   *"}
    for key in my_dict:
        print(my_dict[key])
    print(my_dict['d'])

In [142]:
def print_a(letter):
    list_a = ["   *   ", "  * *  "," *****", " *   *"]
    for i in list_a:
        print(list_a[i])
    print(list_a['d'])

In [144]:
def print_big(letter):
    my_dict = {'a' :"   *   " "\n" "  * *  " "\n"  " *****""\n" " *   *" "\n"  " *   *", 'b': "****  " "\n" "*   *" "\n""****  ""\n" "*   *" "\n""****  ", 'c': " **** " "\n" "*   " "\n""*   ""\n" "*   " "\n"" **** ",'d':'"****  " "\n" "*   *" "\n" "*   *" "\n" "*   *" "\n""****  "', 'e':"***** " "\n" "*    " "\n""****  ""\n" "*    " "\n""***** "}
    print(my_dict[letter])

In [116]:
print("   *   " "\n" "  * *  " "\n"  " *****""\n" " *   *" "\n"  " *   *")

   *
  * *
 *****
 *   *
 *   *

In [126]:
print("****  " "\n" "*   *" "\n""****  ""\n" "*   *" "\n""****  ")

****
*   *
****
*   *
****

In [134]:
print(" **** " "\n" "*   " "\n""*   ""\n" "*   " "\n"" **** ")

 ****
*
*
*
 ****

In [136]:
print("****  " "\n" "*   *" "\n" "*   *" "\n" "*   *" "\n""****  ")

****
*   *
*   *
*   *
****

In [140]:
print("***** " "\n" "*    " "\n""****  ""\n" "*    " "\n""***** ")

*****
*
****
*
*****

In [122]:
print("")

In [111]:
my_dict = {'a' :"   *   ", 'b':"  * *  ", 'c':" *****", 'd': " *   *"}

In [112]:
my_dict['b']

'  * *  '

In [145]:
print_big('a')

   *
  * *
 *****
 *   *
 *   *

In [146]:
print_big('b')

****
*   *
****
*   *
****

In [147]:
print_big('c')

 ****
*
*
*
 ****

## Great Job!